.FormContainer {
  width: 30rem;
  height: auto;

  margin: 2rem;
  padding: 2rem;

  background-color: #282828;
  color: #fff;

  font-family: "Roboto", sans-serif;

  p {
    font-size: 1rem;
  }
}
